---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Libertinus';
    src: url('../../Libertinus.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

.markdown-body {
    font-family: 'Libertinus' !important;
}