---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Libertinus';
    src: url('../Libertinus.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

html {
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: 'Libertinus' !important;
}

#tableright td {
    text-align: right;
}

#tablecenter td {
    text-align: center;
}

kbd {
    color: rgb(15, 15, 15)
}

a,
a:visited {
    color: #D18A19; 
    font-weight: 500;  
}

a:active,
a:hover {
    text-decoration: none;
    font-weight: 500;
}

/* kbd by auth0 on Github. */

kbd {
  font-family: monospace;
  display: inline-block;
  border-radius: 3px;
  padding: 0px 3px;
  box-shadow: 1px 1px 1px #777;
  margin: 2px;
  font-size: small;
  vertical-align: text-bottom;
  background: #eee;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  /* font-variant: small-caps; */
  /* font-weight: 600; */

  /* This two work */
  letter-spacing: 0.5px; 
  /* letter-spacing: 1px;*/


  /* Prevent selection 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

kbd:hover, kbd:hover * {
  color: black;
  /* box-shadow: 1px 1px 1px #333; */
}
kbd:active, kbd:active * {
  color: black;
  box-shadow: 1px 1px 0px #ddd inset;
}

kbd kbd {
  padding: 0px;
  margin: 0 1px;
  box-shadow: 0px 0px 0px black;
  vertical-align: baseline;
  background: none;
}

kbd kbd:hover {
  box-shadow: 0px 0px 0px black;
}

kbd:active kbd {
  box-shadow: 0px 0px 0px black;
  background: none;
}

/* CSS Button Hover by Karlo Videk */

//HOVER TRANSITION
$hover: all 0.2s ease-in;
$slide:all 0.5s 0.1s cubic-bezier(0.55,0,0.1,1);
//COLORS
$grey: #D18A19;
$white: #ffffff;
$green: #D18A19;
$transparent: rgba(255, 255, 255, 0);
$black-05: rgba(0, 0, 0, 0.05);

//ELEMENTS
.button-container {
  padding: 0px 0px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1.5px solid $grey;
  border-radius: 4px;
  transition: $hover;
  position: relative;
  overflow: hidden;
  margin: 0px 5px;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%)scaleY(1)scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: $grey;
    border-radius: 50%;
    display: block;
    transition: $slide;
    z-index: -1;
  }
  
  &:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%)scaleY(1)scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: $green;
    border-radius: 50%;
    display: block;
    transition: $slide;
    z-index: -1;
  }
  
  &:hover {
    color: $white;
    border: 1.5px solid $green;
    
    &:before {
      top: -35%;
      background-color: $green;
      transform: translateX(-50%)scaleY(1.3)scaleX(0.8);
    }
    
    &:after {
      top: -45%;
      background-color: $green;
      transform: translateX(-50%)scaleY(1.3)scaleX(0.8);
    }
  }
}