---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Libertinus';
    src: url('../Libertinus.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

#titleh {
    height: 50px;
    font-size: 25pt;
    width: 100%;
    background-color: gray;
    font-family: 'Libertinus' !important;
}

h2,
h3,
h4 {
    font-family: 'Libertinus' !important;
}