/* kbd style by auth0 on Github - https://auth0.github.io/kbd */

@font-face {
    font-family: 'Libertinus Sans';
    src: url('libertinussans-regular-webfont.woff2') format('woff2'),
         url('libertinussans-regular-webfont.woff') format('woff'),
         url('libertinussans-bold-webfont.woff2') format('woff2'),
         url('libertinussans-bold-webfont.woff') format('woff'),
         url('libertinussans-italic-webfont.woff2') format('woff2'),
         url('libertinussans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libertinus Mono';
    src: url('libertinussans-mono-webfont.woff2') format('woff2'),
         url('libertinussans-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.h {
    margin-top: 40px;
    font-family: "Libertinus Sans", sans-serif;
}

table {
    font-family: "Noto Sans", sans-serif;
    margin-left:auto; 
    margin-right:auto;
}

td {
    padding: 3px 5px;
}

kbd {
    font-family: "Libertinus Mono", monospace;
    display: inline-block;
    border-radius: 3px;
    padding: 0px 4px;
    box-shadow: 1px 1px 1px #777;
    margin: 2px;
    font-size: small;
    vertical-align: text-bottom;
    background: #eee;
    font-weight: 500;
    color: #444;
    cursor: pointer;
    /* font-variant: small-caps; */
    /* font-weight: 600; */

    /* This two work */
    letter-spacing: 0.5px; 
    /* letter-spacing: 1px;*/


    /* Prevent selection 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
  
kbd:hover, kbd:hover * {
    color: black;
    /* box-shadow: 1px 1px 1px #333; */
}
kbd:active, kbd:active * {
    color: black;
    box-shadow: 1px 1px 0px #ddd inset;
}

kbd kbd {
    padding: 0px;
    margin: 0 1px;
    box-shadow: 0px 0px 0px black;
    vertical-align: baseline;
    background: none;
}

kbd kbd:hover {
    box-shadow: 0px 0px 0px black;
}

kbd:active kbd {
    box-shadow: 0px 0px 0px black;
    background: none;
}

blockquote {
    /* background: #f9f9f9; */
    border-left: 4px solid #ccc;
    margin: 1.5em 30px;
    padding: 0.3em 20px;
    font-style: italic;
    font-size: 1vm;
}

blockquote p {
    display: inline;
}