<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="description" content="An IPA keyboard layout that makes use of the numpad section of any keyboard to type the entire International Phonetic ALphabet. Using only three new modifier keys, anyone can easily type IPA characters. It's free to use, and open source, meaning that anyone can contribute and make it better.">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="{{ "/assets/js/parallax.js?v=" | append: site.github.build_revision | relative_url }}""></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56329412-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-56329412-6');
    </script>
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "SoftwareApplication",
        "name" : "NumpadIPA",
        "url" : "https://coretteket.github.io/numpadipa/",
        "author" : {
          "@type" : "Person",
          "name" : "coretteket"
        },
        "applicationCategory" : "Keyboard",
        "operatingSystem" : "Windows",
        "softwareVersion" : "v0.1"
      }
    </script>
    <meta name="robots" content="index, follow">
    <link href="URL" rel="canonical">
    <link rel="shortcut icon" type="image/png" href="https://github.com/Coretteket/numpadipa/raw/master/img/numpadico.png"/>
    <title>NumpadIPA</title>
    {% seo %}
    
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <!--{{ content }}-->
      <h1 id="numpadipa">NumpadIPA</h1>
      <blockquote>
        <p><strong>numpadipa</strong> /ˌnʊm.pəˈdaɪ.pə/ <em>n.</em> - a keyboard layout that uses the numpad keys, allowing the user to type the “entire” International Phonetic Alphabet.</p>
      </blockquote>
      <div class="button-container">
        <a href="#installation" class="button">
          Download
        </a>
        <a href="#contact" class="button">
          Discord
        </a>
        <a href="#contribution" class="button">
          Github
        </a>
      </div>
      <h2 id="introduction">Introduction</h2>
      <a href="coretteket.github.io/coretteket">NumpadIPA</a> is a keyboard layout, that makes use of the least used portion of your keyboard - the <i>numpad</i> - allowing you to type characters from the <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet">International Phonetic Alphabet</a> (IPA). The International Phonetic Alphabet is used by many linguists and speech therapists to write not how a word is supposed to be written, but how it is to be pronounced with phonetic transcription. Using three keys from your numpad as modifier keys, you can easily type one of many glyphs as defined in the IPA.
      <h3 id="inspiration">Inspiration</h2>
      <p>As an aspiring linguist and <a href="https://en.wikipedia.org/wiki/Constructed_language">conlanger</a>, I need to write IPA symbols quite often, when describing a language’s phonology, or sound system. For a long time, I simply copy-pasted the symbols from the  Wikipedia page, but this quickly became too cumbersome. Thus, my search for keyboard layouts began.</p>

      <h3 id="alternatives">Alternatives</h3>
      <p>First, I stumbled across the TypeIt keyboard, which is a website that has point-and-click support for many different languages, including a large portion of the IPA. It has some shortcuts as well, to allow for easier typing. Still, though, you have to type in the website’s box instead of the program you want to actually have the text in.</p>
      <blockquote>
        <p><a href="https://ipa.typeit.org/full/">TypeIt IPA</a> - Tomasz P. Szynalski</p>
      </blockquote>

      <p>Another keyboard, recommended and used by many, is the series of SIL keyboard layouts. These are real, installable keyboard layouts that make use of key sequences to produce many IPA characters. For example (depending on which keyboard you choose), <kbd>t</kbd><kbd>=</kbd> produces <kbd>θ</kbd>. However, it overrides keys I want to be able to use normally as well, like <kbd>:</kbd> and <kbd>$</kbd>. This means I constantly had to switch keyboard layouts while using this.</p>
      <blockquote>
        <p><a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=UniIPAKeyboard">IPA Unicode Keyboards</a> - SIL International</p>
      </blockquote>

      <h3 id="concept">Concept</h3>
      <p>Both these keyboards are good, but I felt I needed something better. Something that I could use to type in every program, but did not compromise on existing keys. This inspired me to create my own keyboard layout, and I quickly realized my keyboard had an entire sixteen-key section that I had never used before: the <em>numpad</em>. Keys, all duplicates of other keys already on my regular keyboard.</p>

      <p>These sixteen keys would not be enough, on their own, though. The International Phonetic Alphabet is <em>extensive</em>. It features 112 symbols for vowels and consonants, 86 of which are not a simple “a” to “z”, and another 54 diacritics and other symbols for a total of 166 characters. Furthermore, I wanted some other special characters to be easily available, such as thorn (þ), and subscript numbers for the Proto-Indo-European’s series of laryngeals (*h₁, *h₂, and *h₃), among other things.</p>

      <h3 id="implementation">Implementation</h3>
      <p>The answer was simple: <a href="https://en.wikipedia.org/wiki/Modifier_key">modifier keys</a>. These are keys that, when pressed and held essentially enable another “layer” of the keyboard. I quickly decided on three modifiers: <kbd>Num Add</kbd>, <kbd>Num Enter</kbd> and <kbd>Num Ins</kbd>, which are the three larger keys on <a href="https://github.com/Coretteket/numpadipa/blob/master/img/numpadexample.png?raw=true">most numpad sections</a>.</p>

      <p>This meant my keyboard now had four layers, and I could use 26 keys of the alphanumeric section of the keyboard to create <em><sup>(26*3=)</sup></em> 78 new keys, almost enough to fit in the consonants and vowels. For the rest of the symbols required, I used the 0-9 keys of the alphanumeric section, leaving them the same in the primary layer, and 13 remaining keys of the numpad sections to create <em><sup>(10*3+13*4=)</sup></em> 82 new keys. For a total of 160 keys, it was more than I needed initially.</p>

      <h2 id="installation">Installation</h2>
      <p>Before you can install the keyboard layout, you need a few things:</p>
      <ul>
        <li>Microsoft Windows, it should work on all modernly used versions;</li>
        <li>A keyboard with a numpad section, or a standalone numpad;</li>
        <li>An internet connection, which you already have seeing as you loaded this website.</li>
      </ul>
      <h3>Downloading</h3>
      <p>Downloading NumpadIPA is easy, and quick. Click on the button below, and you'll be redirected to the release page on Github. Find the latest release, which should be at the top, or any other version if you want. Press <i>"Click here to download {version-number}."</i>, and the download will start automatically. Once downloaded, double click the .exe file to start the layout, and you should see an æ-symbol appear in your system tray, the bottom right of your screen. You now have NumpadIPA installed and running.</p>
      <a href="https://github.com/Coretteket/numpadipa/releases" class="button">Download</a>
      <h3 id="startup">Startup</h3>
      <p>To activate the keyboard layout automatically, every time you start your computer, you need to add it to the Windows startup folder. Right click on your NumpadIPA executable and select "Create shortcut". Drag and drop the newly created shortcut file into the startup folder, and it will be executed every time you restart your PC. On Windows 10 the folder is located here:</p>
      <blockquote>
        C:\Users\{username}\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup
      </blockquote>
      <h3 id="unicode">Unicode</h3>
      <p>Once you have the layout installed and running, it is time to use it. Before you can, though, it is important to understand that not all programs and fonts support <a href="https://en.wikipedia.org/wiki/Unicode">Unicode</a>. If you are editing a file, make sure it is encoded in either UTF-8 or UTF-16, or you’ll find your file all garbled up once you open it.</p>

      <p>As for fonts, you have to find a font that has all (or many) IPA characters supported. The creator of the font has to make a seperate glyph for each character in the IPA, and it therefore gets skipped often in smaller fonts. Many recommend the <a href="https://software.sil.org/doulos/">Doulos</a> font by SIL International, however most main-stream fonts like Arial and Times New Roman support many IPA characters out of the box as well.</p>

      <p>For use in LaTeX, the package <a href="https://www.ctan.org/pkg/tipa">tipa</a> is recommended by the International Phonetic Association. However, when using XeLaTeX, the font can simply be changed to one supporting IPA characters using <a href="https://www.ctan.org/pkg/fontspec">fontspec</a>.</p>

      <h2 id="usage">Usage</h2>
      <blockquote>
        <p>There are a <em>lot</em> of shortcuts to learn. Get over it.</p>
      </blockquote>

      <h3 id="definitions">Definitions</h3>
      <p>As has been said, NumpadIPA makes use of your numpad. Three keys in particular are of real importance. These are <kbd>Num Add</kbd>, <kbd>Num Enter</kbd>, and <kbd>Num Ins</kbd>, which are used as <em>modifier keys</em>. You hold these keys and then press another to produce a character from the International Phonetic Alphabet.</p>

      <p>I have tried to create <em>some form</em> of logic behind all this, but your perception of logic might differ, and sometimes it was simply impossible to create a logical shortcut. That being said, the <kbd>Num Add</kbd> key (abbreviated <kbd>Add</kbd>) is used, generally, for fortition of the original glyph; the <kbd>Num Enter</kbd> key (abbreviated <kbd>Ent</kbd>) is used for lenition; and the <kbd>Num Ins</kbd> key (abbreviated <kbd>Ins</kbd>) is used for an alternate version of the original glyph, but this definition should be taken very lightly.</p>

      <h3 id="qwerty">Qwerty</h3>
      <p>The following is a comprehensive list of all the glyphs that can be produced by simply pressing one of the three modifier keys. Some more glyphs can be created using the A-Z section of your keyboard, but those will be introduced further down the document. Note: if some or all characters below are not displaying, you do not have a IPA-compatible font on your device. Please consult <a href="https://github.com/Coretteket/numpadipa/wiki/Installation#unicode">this page</a>.</p>

      <p>Actually using these shortcuts is simple. If you want to type /ɐ/, simply press and hold <kbd>Add</kbd> and then press <kbd>a</kbd> before releasing <kbd>Add</kbd> again. This is comparable to how you would use the <kbd>Shift</kbd> and <kbd>Control</kbd> buttons.</p>

      <div class="w-50" style="display:inline-block; margin-right:20px">
        <table id="tablecenter">
          <thead>
          <tr>
            <th>-</th>
            <th><kbd>Add</kbd></th>
            <th><kbd>Enter</kbd></th>
            <th><kbd>Ins</kbd></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><kbd>a</kbd></td>
            <td>ɐ</td>
            <td>ɑ</td>
            <td>æ</td>
          </tr>
          <tr>
            <td><kbd>b</kbd></td>
            <td>ʙ</td>
            <td>β</td>
            <td>ɓ</td>
          </tr>
          <tr>
            <td><kbd>c</kbd></td>
            <td>ɟ</td>
            <td>ç</td>
            <td>ʛ</td>
          </tr>
          <tr>
            <td><kbd>d</kbd></td>
            <td>ɖ</td>
            <td>ð</td>
            <td>ɗ</td>
          </tr>
          <tr>
            <td><kbd>e</kbd></td>
            <td>ɛ</td>
            <td>ə</td>
            <td>ø</td>
          </tr>
          <tr>
            <td><kbd>f</kbd></td>
            <td>ʋ</td>
            <td>ɸ</td>
            <td>ɶ</td>
          </tr>
          <tr>
            <td><kbd>g</kbd></td>
            <td>ɡ</td>
            <td>ɢ</td>
            <td>ɠ</td>
          </tr>
          <tr>
            <td><kbd>h</kbd></td>
            <td>ɦ</td>
            <td>ħ</td>
            <td>ʜ</td>
          </tr>
          <tr>
            <td><kbd>i</kbd></td>
            <td>ɨ</td>
            <td>ɪ</td>
            <td>ɘ</td>
          </tr>
          <tr>
            <td><kbd>j</kbd></td>
            <td>ʎ</td>
            <td>ʝ</td>
            <td>ʟ</td>
          </tr>
          <tr>
            <td><kbd>k</kbd></td>
            <td>ʔ</td>
            <td>ʡ</td>
            <td>ʢ</td>
          </tr>
          <tr>
            <td><kbd>l</kbd></td>
            <td>ɬ</td>
            <td>ɮ</td>
            <td>ɭ</td>
          </tr>
          <tr>
              <td><kbd>m</kbd></td>
              <td>ɜ</td>
              <td>ɞ</td>
              <td>ɱ</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="w-50" style="display:inline-block;">
        <table id="tablecenter">
            <thead>
            <tr>
              <th>-</th>
              <th><kbd>Add</kbd></th>
              <th><kbd>Enter</kbd></th>
              <th><kbd>Ins</kbd></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><kbd>n</kbd></td>
              <td>ŋ</td>
              <td>ɲ</td>
              <td>ɳ</td>
            </tr>
            <tr>
              <td><kbd>o</kbd></td>
              <td>ɒ</td>
              <td>ɔ</td>
              <td>ɵ</td>
            </tr>
            <tr>
              <td><kbd>p</kbd></td>
              <td>ɽ</td>
              <td>ɻ</td>
              <td>ˈ</td>
            </tr>
            <tr>
              <td><kbd>q</kbd></td>
              <td>ʀ</td>
              <td>ʁ</td>
              <td>ɴ</td>
            </tr>
            <tr>
              <td><kbd>r</kbd></td>
              <td>ɾ</td>
              <td>ɹ</td>
              <td>ɺ</td>
            </tr>
            <tr>
              <td><kbd>s</kbd></td>
              <td>ʃ</td>
              <td>ʂ</td>
              <td>ɕ</td>
            </tr>
            <tr>
              <td><kbd>t</kbd></td>
              <td>ʈ</td>
              <td>θ</td>
              <td>þ</td>
            </tr>
            <tr>
              <td><kbd>u</kbd></td>
              <td>ʉ</td>
              <td>ʊ</td>
              <td>ɯ</td>
            </tr>
            <tr>
              <td><kbd>v</kbd></td>
              <td>ⱱ</td>
              <td>ɥ</td>
              <td>ʌ</td>
            </tr>
            <tr>
              <td><kbd>w</kbd></td>
              <td>ɰ</td>
              <td>ʍ</td>
              <td>ɧ</td>
            </tr>
            <tr>
              <td><kbd>x</kbd></td>
              <td>ɣ</td>
              <td>χ</td>
              <td>ʕ</td>
            </tr>
            <tr>
              <td><kbd>y</kbd></td>
              <td>œ</td>
              <td>ʏ</td>
              <td>ɤ</td>
            </tr>
            <tr>
              <td><kbd>z</kbd></td>
              <td>ʒ</td>
              <td>ʐ</td>
              <td>ʑ</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--<table id="tablecenter">
        <thead>
          <tr>
            <th>-</th>
            <th><kbd>Add</kbd></th>
            <th><kbd>Enter</kbd></th>
            <th><kbd>Ins</kbd></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><kbd>a</kbd></td>
            <td>ɐ</td>
            <td>ɑ</td>
            <td>æ</td>
          </tr>
          <tr>
            <td><kbd>b</kbd></td>
            <td>ʙ</td>
            <td>β</td>
            <td>ɓ</td>
          </tr>
          <tr>
            <td><kbd>c</kbd></td>
            <td>ɟ</td>
            <td>ç</td>
            <td>ʛ</td>
          </tr>
          <tr>
            <td><kbd>d</kbd></td>
            <td>ɖ</td>
            <td>ð</td>
            <td>ɗ</td>
          </tr>
          <tr>
            <td><kbd>e</kbd></td>
            <td>ɛ</td>
            <td>ə</td>
            <td>ø</td>
          </tr>
          <tr>
            <td><kbd>f</kbd></td>
            <td>ʋ</td>
            <td>ɸ</td>
            <td>ɶ</td>
          </tr>
          <tr>
            <td><kbd>g</kbd></td>
            <td>ɡ</td>
            <td>ɢ</td>
            <td>ɠ</td>
          </tr>
          <tr>
            <td><kbd>h</kbd></td>
            <td>ɦ</td>
            <td>ħ</td>
            <td>ʜ</td>
          </tr>
          <tr>
            <td><kbd>i</kbd></td>
            <td>ɨ</td>
            <td>ɪ</td>
            <td>ɘ</td>
          </tr>
          <tr>
            <td><kbd>j</kbd></td>
            <td>ʎ</td>
            <td>ʝ</td>
            <td>ʟ</td>
          </tr>
          <tr>
            <td><kbd>k</kbd></td>
            <td>ʔ</td>
            <td>ʡ</td>
            <td>ʢ</td>
          </tr>
          <tr>
            <td><kbd>l</kbd></td>
            <td>ɬ</td>
            <td>ɮ</td>
            <td>ɭ</td>
          </tr>
          <tr>
            <td><kbd>m</kbd></td>
            <td>ɜ</td>
            <td>ɞ</td>
            <td>ɱ</td>
          </tr>
          <tr>
            <td><kbd>n</kbd></td>
            <td>ŋ</td>
            <td>ɲ</td>
            <td>ɳ</td>
          </tr>
          <tr>
            <td><kbd>o</kbd></td>
            <td>ɒ</td>
            <td>ɔ</td>
            <td>ɵ</td>
          </tr>
          <tr>
            <td><kbd>p</kbd></td>
            <td>ɽ</td>
            <td>ɻ</td>
            <td>ˈ</td>
          </tr>
          <tr>
            <td><kbd>q</kbd></td>
            <td>ʀ</td>
            <td>ʁ</td>
            <td>ɴ</td>
          </tr>
          <tr>
            <td><kbd>r</kbd></td>
            <td>ɾ</td>
            <td>ɹ</td>
            <td>ɺ</td>
          </tr>
          <tr>
            <td><kbd>s</kbd></td>
            <td>ʃ</td>
            <td>ʂ</td>
            <td>ɕ</td>
          </tr>
          <tr>
            <td><kbd>t</kbd></td>
            <td>ʈ</td>
            <td>θ</td>
            <td>þ</td>
          </tr>
          <tr>
            <td><kbd>u</kbd></td>
            <td>ʉ</td>
            <td>ʊ</td>
            <td>ɯ</td>
          </tr>
          <tr>
            <td><kbd>v</kbd></td>
            <td>ⱱ</td>
            <td>ɥ</td>
            <td>ʌ</td>
          </tr>
          <tr>
            <td><kbd>w</kbd></td>
            <td>ɰ</td>
            <td>ʍ</td>
            <td>ɧ</td>
          </tr>
          <tr>
            <td><kbd>x</kbd></td>
            <td>ɣ</td>
            <td>χ</td>
            <td>ʕ</td>
          </tr>
          <tr>
            <td><kbd>y</kbd></td>
            <td>œ</td>
            <td>ʏ</td>
            <td>ɤ</td>
          </tr>
          <tr>
            <td><kbd>z</kbd></td>
            <td>ʒ</td>
            <td>ʐ</td>
            <td>ʑ</td>
          </tr>
        </tbody>
      </table>-->

      <h4 id="vowels">Vowels</h4>
      <p>You’ll notice the vowels are not nicely spread out over all IPA vowels, namely: <kbd>a</kbd>, <kbd>e</kbd>, <kbd>i</kbd>, <kbd>o</kbd>, <kbd>u</kbd>, and <kbd>y</kbd>. This is because these six keys combined with the four layers do not provide enough vowels. <em><sup>(6*4 = 24 &lt; 28)</sup></em> Therefore, the four vowels /ɶ ʌ ɜ ɞ/ are spread out over <kbd>Ins</kbd><kbd>f</kbd>, <kbd>Ins</kbd><kbd>v</kbd>, <kbd>Add</kbd><kbd>m</kbd>, and <kbd>Ent</kbd><kbd>m</kbd> respectively.</p>
      <h4 id="other">Other</h4>
      <p>There are some certainly some oddities. Things like /ʛ/ being <kbd>Ins</kbd><kbd>c</kbd>, although unrelated to /c/. Some characters, like /ɧ/, were just to odd to fit in any spot logical, so <kbd>Ins</kbd><kbd>w</kbd> it is. Other than those oddities, one “special” glyph is added. This is <kbd>Ins</kbd><kbd>p</kbd>, one of the shortcuts for the stress marking character /ˈ/ - the other being <kbd>Num Mult</kbd> as explained in the numpad section.</p>
      <h4 id="missed">Missed</h4>
      <p>I am currently not aware of any IPA characters, other than outdated and extended ones, that are not included in this keyboard layout. The (unofficial) capital characters have not been added, although it is on my to-do list. Please <a href="https://github.com/Coretteket/numpadipa/wiki/Contact">reach out to me</a>, if I have missed something and you want it added.</p>
      <h3 id="numpad">Numpad</h3>
      <p>When referring to <kbd>Dot</kbd>, the Numpad key <kbd>Num Del</kbd> otherwise known as <kbd>Num Dot</kbd> is meant, not the actual <kbd>.</kbd> key.</p>

      <p>The dental and alveolar click were not added seperately as I deem them too similar to undergo the hassle of finding a logical system to fit them in. Might be added in a far future.</p>

      <h3 id="overview">Overview</h3>
      <p>Some might find it easier to learn this keyboard layout from the perspective of the actual phonetic charts. These tables below are an attempt to help with that. The actual symbols are not listed, as these can be easily found <a href="https://upload.wikimedia.org/wikipedia/commons/8/8e/IPA_chart_2018.pdf">elsewhere</a> and would only complicate these tables. Voiceless and voiced consonants, and rounded and unrounded vowels are put in separate columns.</p>

      <div class="d-lg-none">All these tables are horizontally scrollable, if they do not display fully.</div>

      <h4 id="pulmonic-consonants">Pulmonic consonants</h4>
      <table id="cons">
        <tr>
          <th></th>
          <th>Bilab.</th>
          <th>Labio.</th>
          <th>Dental</th>
          <th>Alveo.</th>
          <th>Postal.</th>
          <th>Retrof.</th>
          <th>Palat.</th>
          <th>Velar</th>
          <th>Uvular</th>
          <th>Pharyn.</th>
          <th>Glottal</th>
        </tr>
        <tr>
          <td style="text-align: left;" valign="top" rowspan="2"><b>Plosive</b></td>
          <td><kbd>p</kbd></td>
          <td></td>
          <td></td>
          <td><kbd>t</kbd></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>t</kbd></td>
          <td><kbd>c</kbd></td>
          <td><kbd>k</kbd></td>
          <td><kbd>q</kbd></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>k</kbd></td>
        </tr>
        <tr>
          <td><kbd>b</kbd></td>
          <td></td>
          <td></td>
          <td><kbd>d</kbd></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>d</kbd></td>
          <td><kbd>Add</kbd><kbd>c</kbd></td>
          <td><kbd>Add</kbd><kbd>g</kbd></td>
          <td><kbd>Ent</kbd><kbd>g</kbd></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Nasal</b></td>
          <td><kbd>m</kbd></td>
          <td><kbd>Ins</kbd><kbd>m</kbd></td>
          <td></td>
          <td><kbd>n</kbd></td>
          <td></td>
          <td><kbd>Ins</kbd><kbd>n</kbd></td>
          <td><kbd>Ent</kbd><kbd>n</kbd></td>
          <td><kbd>Add</kbd><kbd>n</kbd></td>
          <td><kbd>Ins</kbd><kbd>q</kbd></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Trill</b></td>
          <td><kbd>Add</kbd><kbd>b</kbd></td>
          <td></td>
          <td></td>
          <td><kbd>r</kbd></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>q</kbd></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Tap</b></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>v</kbd></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>r</kbd></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>p</kbd></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left;" valign="top" rowspan="2"><b>Fricative</b></td>
          <td><kbd>Ent</kbd><kbd>f</kbd></td>
          <td><kbd>f</kbd></td>
          <td><kbd>Ent</kbd><kbd>t</kbd></td>
          <td><kbd>s</kbd></td>
          <td><kbd>Add</kbd><kbd>s</kbd></td>
          <td><kbd>Len</kbd><kbd>s</kbd></td>
          <td><kbd>Len</kbd><kbd>c</kbd></td>
          <td><kbd>x</kbd></td>
          <td><kbd>Len</kbd><kbd>x</kbd></td>
          <td><kbd>Len</kbd><kbd>h</kbd></td>
          <td><kbd>h</kbd></td>
        </tr>
        <tr>
          <td><kbd>Ent</kbd><kbd>v</kbd></td>
          <td><kbd>v</kbd></td>
          <td><kbd>Ent</kbd><kbd>d</kbd></td>
          <td><kbd>z</kbd></td>
          <td><kbd>Add</kbd><kbd>z</kbd></td>
          <td><kbd>Len</kbd><kbd>z</kbd></td>
          <td><kbd>Len</kbd><kbd>j</kbd></td>
          <td><kbd>Add</kbd><kbd>x</kbd></td>
          <td><kbd>Len</kbd><kbd>q</kbd></td>
          <td><kbd>Ins</kbd><kbd>x</kbd></td>
          <td><kbd>Add</kbd><kbd>h</kbd></td>
        </tr>
        <tr>
          <td valign="top" rowspan="2" style="text-align: left; background-color:rgb(246, 248, 250)"><b>Lat. Fric.</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>l</kbd></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><kbd>Ent</kbd><kbd>l</kbd></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Approxim.</b></td>
          <td></td>
          <td><kbd>Add</kbd><kbd>f</kbd></td>
          <td></td>
          <td><kbd>Ent</kbd><kbd>r</kbd></td>
          <td><kbd>Ent</kbd><kbd>p</kbd></td>
          <td><kbd>j</kbd></td>
          <td><kbd>Add</kbd><kbd>w</kbd></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td style="text-align: left;"><b>Lat. Appr.</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td><kbd>l</kbd></td>
          <td><kbd>Ins</kbd><kbd>l</kbd></td>
          <td><kbd>Add</kbd><kbd>j</kbd></td>
          <td><kbd>Ins</kbd><kbd>j</kbd></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <h4 id="non-pulmonic-consonants">Non-pulmonic consonants</h4>

      <table>
        <thead>
          <tr>
            <th style="text-align: left"> </th>
            <th style="text-align: center">Clicks</th>
            <th style="text-align: center">Implosives</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left"><strong>Bilabial</strong></td>
            <td style="text-align: center"><kbd>Dot</kbd></td>
            <td style="text-align: center"><kbd>Ins</kbd><kbd>b</kbd></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Dental</strong></td>
            <td style="text-align: center"><kbd>|</kbd>*</td>
            <td style="text-align: center"><kbd>Ins</kbd><kbd>d</kbd></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>(Post)alveolar</strong></td>
            <td style="text-align: center"><kbd>!</kbd>*</td>
            <td style="text-align: center"><kbd>Ins</kbd><kbd>Dot</kbd></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Palatoalveolar</strong></td>
            <td style="text-align: center"><kbd>Add</kbd><kbd>Dot</kbd></td>
            <td style="text-align: center"><kbd>Ins</kbd><kbd>g</kbd></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Alveolar lat.</strong></td>
            <td style="text-align: center"><kbd>Ent</kbd><kbd>Dot</kbd></td>
            <td style="text-align: center"><kbd>Ins</kbd><kbd>c</kbd></td>
          </tr>
        </tbody>
      </table>

      <h4 id="other-consonants">Other consonants</h4>
      <table id="tableright">
        <tr>
          <td style="text-align: center">ʍ</td>
          <td><kbd>Ent</kbd><kbd>w</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">w</td>
          <td><kbd>w</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ɥ</td>
          <td><kbd>Ent</kbd><kbd>v</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ʜ</td>
          <td><kbd>Ins</kbd><kbd>h</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ʢ</td>
          <td><kbd>Ins</kbd><kbd>k</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ʡ</td>
          <td><kbd>Ent</kbd><kbd>k</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ɕ</td>
          <td><kbd>Ins</kbd><kbd>s</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ʑ</td>
          <td><kbd>Ins</kbd><kbd>z</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ɺ</td>
          <td><kbd>Ins</kbd><kbd>r</kbd></td>
        </tr>
        <tr>
          <td style="text-align: center">ɧ</td>
          <td><kbd>Ins</kbd><kbd>w</kbd></td>
        </tr>
      </table>

      <h4 id="vowels-1">Vowels</h4>
      <table id="tableright">
          <tr>
            <th></th>
            <th colspan="2">Front</th>
            <th colspan="2">Central</th>
            <th colspan="2">Back</th>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Close</b></td>
            <td><kbd>i</kbd></td>
            <td><kbd>y</kbd></td>
            <td><kbd>Add</kbd><kbd>i</kbd></td>
            <td><kbd>Add</kbd><kbd>u</kbd></td>
            <td><kbd>Ins</kbd><kbd>u</kbd></td>
            <td><kbd>u</kbd></td>
          </tr>
          <tr>
            <td></td>
            <td><kbd>Ent</kbd><kbd>i</kbd></td>
            <td><kbd>Ent</kbd><kbd>y</kbd></td>
            <td></td>
            <td></td>
            <td></td>
            <td><kbd>Ent</kbd><kbd>u</kbd></td>
          </tr>
          <tr>
            <td></td>
            <td><kbd>e</kbd></td>
            <td><kbd>Ins</kbd><kbd>e</kbd></td>
            <td><kbd>Ins</kbd><kbd>i</kbd></td>
            <td><kbd>Ins</kbd><kbd>o</kbd></td>
            <td><kbd>Ins</kbd><kbd>y</kbd></td>
            <td><kbd>o</kbd></td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Mid</b></td>
            <td></td>
            <td></td>
            <td style="text-align: center;" colspan=2><kbd>Ent</kbd><kbd>e</kbd></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><kbd>Add</kbd><kbd>e</kbd></td>
            <td><kbd>Add</kbd><kbd>y</kbd></td>
            <td><kbd>Add</kbd><kbd>m</kbd></td>
            <td><kbd>Ent</kbd><kbd>m</kbd></td>
            <td><kbd>Ins</kbd><kbd>v</kbd></td>
            <td><kbd>Ent</kbd><kbd>o</kbd></td>
          </tr>
          <tr>
            <td></td>
            <td><kbd>Ins</kbd><kbd>a</kbd></td>
            <td></td>
            <td style="text-align: center;" colspan=2><kbd>Add</kbd><kbd>a</kbd></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left;"><b>Open</b></td>
            <td><kbd>a</kbd></td>
            <td><kbd>Ins</kbd><kbd>f</kbd></td>
            <td></td>
            <td></td>
            <td><kbd>Ent</kbd><kbd>f</kbd></td>
            <td><kbd>Add</kbd><kbd>o</kbd></td>
          </tr>
        </table>
      <h2 id="contact">Contact</h2>
      <a href="https://discord.gg/qMySKBK" class="button">Discord</a>

      <h2 id="contribution">Contribution</h2>
      <a href="https://github.com/Coretteket/numpadipa" class="button">Github</a>
      <h2 id="changelog">Changelog</h2>
      <p><strong>v0.1-alpha / Pre-release</strong></p>
      <ul>
        <li>Most of the 122 characters in the IPA mapped</li>
        <li>Diacritics, tonal markers and suprasegmental markers mapped</li>
        <li>Precomposed macron, caron, ogonek, and dot below mapped</li>
        <li>Unicode super- and subscript characters, including IPA, mapped</li>
        <li>Features tons of bugs</li>
      </ul>

      <p>~ <em>coretteket</em></p>


      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. {% github_edit_link "Improve this page" %}.
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>